/*
Naranja Base:			FE7200
Naranja Hover:          EE620D
Background Blue:        00376F
Azul ventanas modales:  01468B
Rojo error:             FF0000
Celeste:                ADE0FF
*/


/*Utils*/


.hide{
    display: none;
}

.alignLeft{
    text-align: left;
}

.alignRight{
    text-align: right;
}

.error {
    color: #FF0000;
}

.spacedTopBottom15{
    margin-top: 15px;
    margin-bottom: 15px;
}

.spacedTopBottom35{
    margin-top: 35px;
    margin-bottom: 35px;
}

textarea{
    font-size: 12px;
}

.bold {
    font-weight: bold;
}

.white{
    color: #FFFFFF !important;
}

.blue{
    color: #00376F !important;
}

.introduction{
    color: #707070;
    font-size: 22px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: left;
    font-kerning: normal;
    line-height: 34px;
}

/* Mensajes de error */

.error-message{
    font-size: 10px;
    /*border: 1px solid #FF0000;*/
    line-height: 12px;
    background-color: #FE7200;
    color: #FFF;
    font-weight: bold;
    padding: 5px;
    padding-bottom: 2px;
    display: inline-block;
    margin-left: 10px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    max-width: 250px;
    z-index: 900;
    position: absolute;

}

.error-message:after {
    height: 0px;
    width:  0px;
    content: "\00a0";
    display: block;
    margin-left: -10px;
    margin-top:   -15px;
    border-width: 10px 10px 10px 0;
    border-style: solid;
    border-color: transparent #FE7200 transparent transparent;
    -webkit-box-shadow: 0px 0px 6px #FE7200;
    z-index: 900;
}

/*Styles to keep*/

html {
    margin: 0px;
    padding: 0px;
}

body {
    margin-left: 0px;
    margin-top: 0px;
    font-size: 13px;
    background-color: #ffffff;
    width: 100%;
}

body, p, h1, h2, h3, h4, table, td, th, ul, ol, textarea, input {
    font-family: verdana, helvetica, arial, sans-serif;
}

a:hover {
    cursor: pointer;
}

.sectionTitle {
    font-size: 19px;
    color: #ffffff;
    margin-top: 5px;
    line-height: 30px;
}

.sectionText {
    font-size: 12px;
    color: #ffffff;
    margin-top: 5px;
    line-height: 18px;
}

#top {
    background-color: #00376F;
    margin: 0;
    height: 70px;
}

#topImage {
    background-origin: content-box;
    background-position: left center;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    height: 70px;
    width: 150px;
    float: left;
}

#topnav {
    margin-top: 24px;
    /*word-spacing: 12px;*/
    font-size: 16px;
    vertical-align: middle;
    float: right;
    padding-right: 10px;
}

a.topnav{
    padding-right: 10px;
    cursor: pointer;
}

a.topnav:link, a.topnav:visited {
    color: #ffffff;
    margin-left: 15px;
    text-decoration: none;
}

a.topnav:hover, a.topnav:active {
    color: #FE7200;
    text-decoration: none;
}

#subHeader {
    background-color: #00376F;
    margin: 0;
    height: 20px;
    vertical-align: middle;
    text-align: center;
}

.salir{
    background-image: url('../img/icons/ico_salir.png');
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 25px;
}

.salir a{
    color: #FFFFFF;
    text-decoration: none;
}

.salir a:visited{
    color: #FFFFFF;
    text-decoration: none;
}


.subMenuDiv{
    color: white;
    margin-left: 70%;
    height: 25px;
    padding-top: 3px;
}

.subMenuDiv a:hover{
    color:#FE7200;
}

.subMenuDiv a{
    color:#ffffff;
    text-decoration: none;
}

.subMenuDiv a:visited{
    color:#ffffff;
    text-decoration: none;
}

.subMenuDivider{
    border-left: 1px solid @white;
    margin-left: 10px;
    padding-right: 10px;
}

#subHeaderRightNav a{
    z-index:200;
    text-decoration: none;
    position:absolute;
    color:#ff4500;
    font-size:45px;
    left:250px;
    top:145px;
}

#subHeaderLeftNav a{
    z-index:100;
    text-decoration: none;
    position:absolute;
    color:#ff4500;
    font-size:45px;
    left:150px;
    top:145px;
}

#rightSection{
    margin-top: 10px;
    background-color: #00376F;
    width: 390px;
    max-width: 390px;
    border-radius: 10px;
    float: right;
    z-index: 100;
}

#rightSectionHeader{
    background-color: #006FDB;
    width: 390px;
    height: 40px;
    line-height: 40px;
    max-width: 390px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    font-size: 16px;
}

#rightSectionContent{
    padding: 20px;
}

#rightSectionContent table{
    padding-left: 10px;
    width: 100%;
}

#rightSectionContent table td:first-child{
    text-align: left;
}

#rightSectionContent fieldset{
    border: none;
    width: 130px;
}

#rightSectionContent label {
    color: #ffffff;
    float: left;
    text-align: left;
    padding-bottom: 15px;
}

#rightSectionContent input[type="text"]{
    text-align: left;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 15px;
}


#rightSectionContent input[type="submit"]:hover{
    background-color: #EE620D;
    text-decoration:none;
    border: none;
}



#rightSectionContent a{
    color: #ffffff;
    font-weight: lighter;
    text-decoration:none;
}

#rightSectionContent a:hover{
    text-decoration:underline;
    cursor: pointer;
}

#subHeaderDivider {
    background: linear-gradient(to bottom right, #02407D, #367889);
    margin: 0;
    min-height: 7px;
}

.belowTopnav {
    text-align: center;
    min-height: 400px;
    padding-bottom:20px;
}

.page {
    width: 1110px;
    /*border: 1px solid;*/
    margin-left: auto;
    margin-right: auto;
}

.page .twoColumns{
    min-height: 300px;

}
.page .twoColumns .leftColumn{
    float: left;
    text-align: left;
    max-width: 50%;
    margin: 30px;
    /*border: 1px solid;*/
    padding-left: 20px;
    padding-right: 20px;
}

h2.subSection{
    font-weight: normal;
}


h4.subSection{
    font-weight: normal;
    color: #114C86;
}

p.subSection{
    color: #959595;
}


.page .twoColumns .rightColumn{
    float: right;
    display: inline-block;
    min-width: 35%;
    /*border: 1px solid;*/
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.page h2{

}


.pageDivider {
    padding-top: 10px;
    background-color: #2586E5;
    font-size: 11px;
    text-align: center;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.pageDivider h2 {
    color: #ffffff;
}

#footer {
    background-color: #00376F;
    font-size: 11px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 10px;
}

#footerContentHeader {
    background-origin: content-box;
    background-position: left top;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    height: 70px;
}

#footerContent {

}

.truckBackgroundDiv{
    background-origin: content-box;
    background-position: left top;
    background-image: url('../img/ftotruck.png');
    background-repeat: no-repeat;
    min-height: 330px;
    width: 1110px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.truckBackgroundDivContent{
    padding-left: 573px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.orangeButtonWithBackground{
    background-color: #EE7700;
    background-image: url('../img/icons/arrow_right.png');
    background-repeat: no-repeat;
    background-position: 77% 55%;
    background-origin: content;
    font-size: 12px;
    color: #ffffff;
    text-decoration:none;
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 40px;
    padding-right: 50px;
    cursor: pointer;
}

.orangeButton{
    background-color: #EE7700;
    font-size: 12px;
    color: #ffffff;
    text-decoration:none;
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 40px;
    padding-right: 40px;
    cursor: pointer;
}

.orangeButton:hover, .orangeButtonWithBackground:hover{
    background-color: #EE620D;
    text-decoration:none;
    border: none;
    cursor: pointer;
}


.ui-pnotify {
    margin-top: 55px;
}

.ui-pnotify-history-container{
    display:none;
}


/*---------------Comienzan Estilos del layout form.ctp -----------------------*/

.formBelowTopNav{

}



.formPage {
    width: 100%;
    height: 780px;
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    background: -webkit-linear-gradient(#ADE0FF, white 50%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ADE0FF, white 50%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ADE0FF, white 50%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ADE0FF, white 50%);

}

.formPage h1{
    font-weight: normal;
    font-style: normal;
}

.formPage a{
    color: #00376F;
    font-family: verdana,helvetica,arial,sans-serif;
    font-weight: normal;
}


/*---------------Terminan Estilos del layout form.ctp -----------------------*/



.ui-icon,
.ui-widget-content .ui-icon {
    background-image: url('../img/jquery-ui/ui-icons_222222_256x240.png');
}
.ui-widget-header .ui-icon {
    background-image: url('../img/jquery-ui/ui-icons_222222_256x240.png');
}


/*----------------------- Estilos de las Ventanas modales -----------------------*/

.modalWindow{
    display: none;
}

.modalWindow h3{
    font-family: verdana, helvetica, arial, sans-serif;
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: lighter;
}

.modalWindow label{
    margin-right: 15px;
}

.modalWindow input[type="text"]{
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    line-height: 40px;
}

.modalWindow input[type="submit"]{
    margin-left: 20px;
}

/* Overlay */
#simplemodal-overlay {background-color:#000;}

/* Container */
#simplemodal-container {
    text-align:center;
    height:320px;
    width:650px;
    color:#FFFFFF;
    background-color:#01468B;
    padding:40px;
    overflow: visible;
}

#simplemodal-container p,
#simplemodal-container h3{
    color: #FFFFFF;
}

#simplemodal-container .simplemodal-data {
    padding:8px;
    overflow-y: visible;
}

#simplemodal-container .simplemodal-wrap{
    overflow: visible !important;
}

#simplemodal-container a {color:#ddd;}



/* ------------------------------ Formularios ------------------------------ */

.mainForm{
    text-align: center;
    padding-top: 20px;
}

.mainForm h1, .mainForm h2, .mainForm h3, .mainForm h4, .mainForm p{
    font-weight: normal;
    font-family: verdana, helvetica, arial, sans-serif;
    color: #00376F;
}

.box {
    position:relative;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 545px;
    color: white;
    font-size: 14px;
    clear: both;
}

.shortNotification{
    height: 350px !important;
}

.box-gradient {
    position:absolute;
    width:100%;
    height:100%;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background-color: #00376F;
    margin-top: 10px;
    text-align: center;
}

.box-gradient-content{
    padding: 30px;
    margin-top: 20px;
    text-align: center;
}

.box-gradient-content h1, .box-gradient-content h2, .box-gradient-content h3, .box-gradient-content p{
    color: #FFFFFF !important;
}

.box-gradient-content a{
    color: #FE7200;
    text-decoration: none;
}

.box-gradient-content a:hover{
    color: #EE620D;
}


.box-shadow {
    position:absolute;
    left:6%;
    margin:380px 0 -20px -16px;
    bottom:11px;
    width:800px;
    height:15px;
    background:#fff;
    border-radius:290px / 8px;
    -moz-border-radius:290px / 8px;
    -webkit-border-radius:290px / 8px;
    box-shadow:0 10px 20px #000;
    -moz-box-shadow:0 10px 20px #000;
    -webkit-box-shadow:0 10px 20px #000;
}

.box table{
    text-align: left;
    margin: 30px 75px 30px 75px;
}

.box table td{
    line-height: 25px;
}

.box table td.fieldTitle{
    padding-bottom: 3px;
    padding-top: 15px;
}

.box table tr:last-child{
    height:50px;
    vertical-align: bottom;
}

.box table textarea{
    resize: none;
    overflow-y: scroll;
}




/*#simplemodal-container a.modalCloseImg {background:url(../img/basic/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}*/





/*#footerAbout {word-spacing:6px;font-size:10px;padding-right:62px;padding-top:19px;float:right;text-align:right;}*/

/*#footerText{padding-top:13px;color:#404040;clear:both;color:#555555;margin-right:50px;}*/

/*.footer a:link,.footer a:visited {text-decoration:none;color:#ffffff;background-color:transparent}*/
/*.footer a:hover,.footer a:active {text-decoration:underline;color:#ffffff;background-color:transparent}*/

.pageDividerTable {
    width: 100%;
}

.pageDividerTable td {
    width: 30%;
    padding-right: 30px;
}

.bottomlinks {
    border: none;
    width: 100%;
}

.bottomlinks td {
    text-align: left;
    vertical-align: top;
    color: #d3d3d3;
}

.bottomlinks td:first-child {
    width: 45%;
    min-width: 300px;
}

.bottomlinks h3 {
    font-size: 11px;
    font-weight: bold;
    color: #d3d3d3;
}

.bottomlinks .linkDiv {
    margin-top: 13px;
    font-size: 10px;
}

.bottomlinks a, .bottomlinks a:visited {
    color: #d3d3d3;
    text-decoration: none;
}

.bottomlinks a:hover {
    color: #ff7f50;
}

#searchSection {
    height: 60px;
    margin-right: 0px;
    margin-top: 5px;
    text-align: left;
}

#searchText {
    color: #777777;
    font-size: 11px;
    font-style: italic;
    padding-top: 3px;
}

#translateSection {
    height: 30px;
}

iframe {
    margin: 0px;
}

img {
    border: 0;
}

p, td, ul {
    line-height: 130%;
}


/*a.topnav:link,a.topnav:visited {color:#555555;text-decoration:none;}*/

/*a.topnav:hover,a.topnav:active {color:#ff4800;text-decoration:none;}*/

#topnavSpace {
    margin-left: 290px;
}

div.topLeftRectangle {
    float: left;
    width: 170px;
    height: 90px;
    margin-top: 10px;
    margin-right: 4px;
    margin-left: 10px;
    overflow: hidden;
}

#mainLeaderboard {
    width: 728px;
    height: 90px;
    float: none;
    margin-top: 0px;
    margin-left: 0px;
    overflow: hidden;
    margin-bottom: 15px;
}

#pageads {
    height: 100px;
    margin-bottom: 10px;
}

#leftcolumn {
    width: 170px;
    float: left;
    margin-right: 4px;
    margin-left: 10px;
}

#leftcolumn h2 {
    font-size: 16px;
    font-weight: normal;
    color: #8AC007;
}

#leftcolumn hr {
    color: #e5eecc;
    background-color: #e5eecc;
    margin-right: 20px;
}

#leftcolumn a:link, #leftcolumn a:visited, #leftcolumn a:hover, #leftcolumn a:active {
    display: block;
    font-size: 13px;
    padding-bottom: 4px;
    background-color: #ffffff;
    color: #555555;
    color: #404040;
    text-decoration: none;
}

#leftcolumn a:hover, #leftcolumn a:active {
    background-color: #ffffff;
    color: #000000;
    text-decoration: underline;
}

#main {
    width: 822px;
    float: left;
    padding: 7px;
    padding-top: 0px;
    overflow: hidden;
}

#rightcolumn h2 {
    font-size: 13px;
    font-weight: normal;
    color: #8AC007;
    margin-top: 3px;
    margin-bottom: 2px;
}

#rightcolumn {
    width: 160px;
    float: left;
    font-size: 11px;
    padding-left: 5px;
    margin-left: 5px;
}

#rightcolumn .rightad a:link, #rightcolumn .rightad a:visited, #rightcolumn .rightad a:hover, #rightcolumn .rightad a:active {
    text-decoration: none;
    display: block;
    color: #555555;
    margin-bottom: 3px;
    padding-top: 3px;
}

#rightcolumn .rightad a:hover, #rightcolumn .rightad a:active {
    text-decoration: underline;
}

#rightcolumn .rightad, #rightshare {
    width: 150px;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    margin-bottom: 8px;
    padding: 5px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #ffffff;
}

#rightshare {
    margin-top: 8px;
}

#rightshare h2 {
    font-size: 13px;
    font-weight: normal;
    color: #8AC007;
    margin-top: 3px;
    margin-bottom: 2px;
}

#sharelist {
    position: relative;
    height: 16px;
    margin: 0;
    margin-left: 19px;
}

#sharelist li {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
}

#sharelist li, #sharelist a {
    height: 16px;
    display: block;
}

/*#facebook{left:0px;width:16px;background:url('/images/share.png') -16px 0;}*/
/*#twitter{left:19px;width:16px;background:url('/images/share.png') -32px 0;}*/
/*#email{left:38px;width:16px;background:url('/images/share.png') -80px 0;}*/
/*#googleplus{left:57px;width:16px;background:url('/images/share.png') 0 0;}*/
/*#linkedin{left:76px;width:16px;background:url('/images/share.png') -48px 0;}*/
/*#reddit{left:95px;width:16px;background:url('/images/share.png') -64px 0;}*/

div.wideSkyscraper {
    width: 160px;
    height: 600px;
    margin: auto;
    margin-top: 0;
    overflow: hidden;
}

div.example {
    width: auto;
    color: #000000;
    background-color: #e5eecc;
    margin: 0px;
    padding: 5px;
    border: 1px solid #d4d4d4;
    background-image: linear-gradient(#ffffff, #e5eecc 100px);
}

div.example_code {
    width: auto;
    background-color: #ffffff;
    padding: 5px;
    border: 1px solid #d4d4d4;
    font-size: 14px;
    font-family: "courier new";
}

div.example_result {
    background-color: #ffffff;
    padding: 4px;
    border: 1px solid #d4d4d4;
    width: auto;
}

div.code {
    width: auto;
    border: 1px solid #d4d4d4;
    background-color: #F6F4F0;
    color: #444444;
    padding: 5px;
    margin: 0;
}

div.code div {
    font-size: 14px;
}

div.example_code p, div.code p, div.code div {
    font-family: "courier new";
}

div.tryit_ex {
    clear: both;
    width: 600px;
    height: 50px;
    margin-bottom: 5px
}

div.tryit_ex img {
    border: 0;
    float: left;
    margin-right: 10px
}

div.tryit_ex h2 {
    padding-top: 5px
}

table.lamp {
    width: 100%;
    padding: 0px;
    border: 1px solid #d4d4d4;
}

table.lamp th {
    color: #000000;
    background-color: white;
    padding: 10px;
    padding-right: 5px;
}

table.lamp td {
    padding: 4px;
    padding-left: 0px;
    padding-right: 10px;
    background-color: #ffffff;
}

table.tecspec th, table.tecspec td {
    border: 1px solid #d4d4d4;
    padding: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    vertical-align: top;
    text-align: left;
}

table.reference, table.tecspec {
    border-collapse: collapse;
    width: 100%;
}

table.reference tr:nth-child(odd) {
    background-color: #F6F4F0;
}

table.reference tr:nth-child(even) {
    background-color: #ffffff;
}

table.reference tr.fixzebra {
    background-color: #F6F4F0;
}

table.reference th {
    color: #ffffff;
    background-color: #555555;
    border: 1px solid #555555;
    font-size: 12px;
    padding: 3px;
    vertical-align: top;
    text-align: left;
}

table.reference th a:link, table.reference th a:visited {
    color: #ffffff;
}

table.reference th a:hover, table.reference th a:active {
    color: #EE872A;
}

table.reference td {
    border: 1px solid #d4d4d4;
    padding: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    vertical-align: top;
}

table.reference td.example_code {
    vertical-align: bottom;
}

table.summary {
    border: 1px solid #d4d4d4;
    padding: 5px;
    font-size: 100%;
    color: #555555;
    background-color: #fafad2;
}

h2.example, h2.example_head {
    color: #444444;
    color: #617f10;
    background-color: transparent;
    margin-top: 0px;
}

h2.example {
    font-size: 14px;
}

h2.example_head {
    font-size: 16px;
}

h2.home {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 14px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    color: #900B09;
    background-color: #ffffff;
}

h2.left {
    color: #404040;
    background-color: #ffffff;
    font-size: 14px;
    margin-bottom: 4px;
    padding-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    font-weight: bold;
}
